{
  // * presets : 설치한 babel관련된 모듈들을 옵션에 맞게 연결시킨다.(즉 이곳에서 설정한 옵션에따라 바벨플러그인들이 작동한다.)
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
